@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.mainIcon{
    font-size: 2rem;
    text-align: left;
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-top: 25px;
}

.mainIcon:hover{
    cursor: pointer;
}

.navbar{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

