.mainIcon{
    font-size: 2rem;
    text-align: left;
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-top: 25px;
}

.mainIcon:hover{
    cursor: pointer;
}

.navbar{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.search-bar{
    width: 80%;
    border: 0px;
    height: 4vh;
    border-radius: 5px;
    padding-left: 2rem;
}

textarea:focus, input:focus{
    outline: none;
}
